.newComment {
  margin-bottom: 6px;
  background: #f0f2f5;
  border-radius: 20px;
  min-width: 480px;
  font-size: 14px;
  padding: 10px 12px;
}

.newComment:before {
  content: attr(placeholder);
  position: absolute;
  color: #65676b;
}

.commentInput[contenteditable] {
  z-index: 1;
  position: relative;
  background: #f0f2f5;
  outline: 0;
}

.commentInput[contenteditable]:empty {
  background: transparent;
}

.postButtonWrapper {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 30px;
}

.postButton {
  background: #1877f2;
  border-color: #1877f2;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 4px 10px;
  margin-right: 2px;
}

.postButton[disabled] {
  background: grey;
  border-color: grey;
}
